<h1>Embedded Systems Kata</h1>
<p>The Washing Machine : a code kata for embedded systems developers.</p>

<h2>Contents:</h2>

<p class="view">
  <ul>
    <a href="index.html">Front page</a>
    <p><a href="hardware.html">Hardware tour</a>
    <p><a href="spec.html">Kata specification</a>
    <p><a href="index.html">Background and rationale</a>
    <p><a href="diy.html">Building the hardware</a>
    <p><a href="license.html">Licensing</a>
  </ul>
</p>

<p class="view"><a href="https://github.com/13coders/embedded-kata">
    View the Project on GitHub</a></p>
