<h2>The Washing Machine Kata for Embedded Developers</h2>
<p class="view">
  <a href="/kata">Front page</a><br>
  <a href="hardware">Hardware tour</a><br>
  <a href="tools">Tools and setup</a><br>
  <a href="tdd">TDD and clean code primer</a><br> 
  <a href="spec">Kata specification</a><br>
  <a href="experiments">Experiments to try</a><br>
  <a href="resources">Resources</a><br>
  <a href="background">Background and rationale</a><br>
  <a href="design">Design goals</a><br>
  <a href="diy">Building the hardware</a><br>
</p>
<p class="view">
  <br>
  <img alt="Washing Machine hardware" src="washing-machine-hardware-resized_1024.png"/>
</p>
